<mat-card class="register-container">
  <button mat-icon-button routerLink="/contacts" class="close-btn">
    <mat-icon>close</mat-icon>
  </button>
  <h4 class="form title">Novo Contato</h4>
  <form [formGroup]="newForm" novalidate (ngSubmit)="handleSubmit()">
    <!-- INPUTS -->
    <div class="flex center column">
      <mat-form-field>
        <input type="text" matInput placeholder="Digite o nome de usuário" formControlName="name">
        
      </mat-form-field>
      <mat-form-field>
        <input type="email" matInput placeholder="Digite o e-mail" formControlName="email">
        <mat-error *ngIf="newForm.get('email').hasError('unique')">
          E-mail de contato já existe
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Digite o telefone" formControlName="phone">
        <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Digite o nome da empres" formControlName="company">
        <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Digite o endereço" formControlName="address">
        <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
      </mat-form-field>
      <div class="checks">
        <mat-checkbox formControlName="isFavorite">Favorito</mat-checkbox>
        <mat-checkbox formControlName="isPublic">Publico</mat-checkbox>
      </div>
    </div>
    <!-- BUTTONS -->
    <div class="flex row center">
      <button mat-raised-button color="primary" type="submit" [disabled]="newForm.invalid" class="btn">
        Enviar
      </button>
      <button mat-raised-button color="warn" type="reset" class="btn">
        Limpar
      </button>
    </div>
  </form>
</mat-card>