<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="taskList" >
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Position Column -->
      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.createdAt | date: 'dd/MM/yyyy HH:mm' }} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name | titlecase }} </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="checked">
        <mat-header-cell *matHeaderCellDef> Completada </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div style="display: flex">
          <mat-checkbox [checked]="element.checked" (change)="handleChecked(element.id, !element.checked)"></mat-checkbox>            
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef> Opcões </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="handleEdit($event, element.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn"  (click)="handleDelete(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="animationId === row.id ? animationClass : 'none'"></mat-row>
    </mat-table>
  </div>