<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span>Hello</span>
  <a routerLink="tasks" class="link">
      <mat-icon class="link-icon right">assignment_turned_in</mat-icon> Tasks
  </a>
  <span class="spacer"></span>
  <a routerLink="register" class="link">
    <mat-icon class="link-icon right">account_box</mat-icon> Register
  </a>
  <a routerLink="login" class="link">
    <mat-icon class="link-icon right">account_box</mat-icon> Login
  </a>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>