.spacer {
  flex: 1 1 auto;
}
.link.register {
  background-color: aquamarine;
  color: rgba(0, 0, 0, 0.87);

}
.side-link.mat-raised-button {
  border-radius: 0;
  display: flex !important;
  justify-content: flex-end !important;
}
/* .side-link .mat-button-wrapper {
  border-radius: 0;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
} */

/* .side-link.icon {
  margin-bottom: 2px;
  margin-left: 20px;
} */
.main {
  /* margin-left: 140px !important; */
  min-height: 600px;
}