<mat-card class="register-container">
  <h4 class="form title">Registro</h4>
  <form [formGroup]="newTaskForm" novalidate (ngSubmit)="handleSubmit()">
    <!-- INPUTS -->
    <div class="flex center column">
      <mat-form-field>
        <input type="text" matInput placeholder="Digite o nome da tarefa" formControlName="taskName">
      </mat-form-field>
    </div>
    <!-- BUTTONS -->
    <div class="flex row center">
      <button mat-raised-button color="primary" type="submit" [disabled]="newTaskForm.invalid" class="btn register-color">
        Enviar
      </button>
      <button mat-raised-button routerLink="/tasks" color="warn" type="reset" class="btn" style="margin-left: 20px;">
        Fechar
      </button>
    </div>
  </form>
</mat-card>